export(aggregate_hourly_precipitation)
export(aggregate_hourly_temperature)
export(calculate_CDD)
export(calculate_CSDI)
export(calculate_CWD)
export(calculate_DTR)
export(calculate_PRCPstats)
export(calculate_R10mm)
export(calculate_R1mm)
export(calculate_R20mm)
export(calculate_Rx1day)
export(calculate_Rx5day)
export(calculate_SDII)
export(calculate_TN0)
export(calculate_TN10p)
export(calculate_TNn)
export(calculate_TR20)
export(calculate_TX25)
export(calculate_TX30)
export(calculate_TX35)
export(calculate_TX90p)
export(calculate_TXx)
export(calculate_WSDI)
export(list_indices)
importFrom(tidyselect,all_of)
importFrom(dplyr,n)
importFrom(rlang,.data)
